.tools-container {
  display: flex;
  gap: 30px;
  overflow: hidden;
  position: relative;
  height: 150px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: #D6BD98 1px solid;
  border-radius: 10px;
}

.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100px; 
}

.tool img {
  animation: spin 8s linear infinite;
  object-fit: cover;
  margin-bottom: 10px;
}

.tool h3 {
  font-size: 12px; 
  color: #D6BD98;
  text-align: center;
}

.h1-tools {
  margin-top: 50px;
  justify-self: center;
  color: #D6BD98;
  text-align: center; 
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes spin {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}


@media (max-width: 768px) {
  .tools-container {
    height: auto; 
    gap: 20px; 
    justify-content: space-around; 
  
  }

  .tool img {
    width: 60px; 
    height: 60px;
  }

  .tool p {
    font-size: 10px; 
  }
}

@media (max-width: 480px) {
  .tools-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .tool {
    min-width: 80px; 
  }

  .tool img {
    width: 50px;
    height: 50px; 
  }

  .tool p {
    font-size: 8px; 
  }
}
