.navbar-section {
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    padding: 10px ;
    box-shadow: 0 4px 6px rgba(235, 235, 235, 0.1);
    backdrop-filter: blur(100px);
    width: 100vw; 
}

.navbar-section h1 {
    color: #D6BD98;
}
