.navbar-section {
    background-color: #183D3A;
    display: flex;
    justify-content: center;


}

.navbar-section button {
    background-color: #2ECC71;
    color: #E8F5E9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-section button:hover {
    background-color: #27AE60;

}