.h1-projects {
    margin-top: 50px;
    justify-self: center;
    color: #D6BD98;
}

.projects-section {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 300px);
    gap: 80px;
    justify-content: center;
}
