.h1-projects {
    margin-top: 50px;
    justify-self: center;
    color: #D6BD98;
}

.projects-section {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 300px);
    gap: 70px;
    justify-content: center;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .projects-section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 300px);
        gap: 60px;
    }
}
